services:

  devcontainer:
    build:
      target: dev
    {%- if project_type == 'package' %}
    environment:
      - UV_PUBLISH_TOKEN
    {%- endif %}
    volumes:
      - ..:/workspaces
      - command-history-volume:/home/user/.history/
  {%- if project_type == 'app' %}

  app:
    build:
      target: app
    {%- if with_fastapi_api %}
    ports:
      - "8000:8000"
    {%- endif %}
    profiles:
      - app
  {%- endif %}

volumes:
  command-history-volume:
