name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["{{ cookiecutter.python_version }}"]

    name: Python {% raw %}${{{% endraw %} matrix.python-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install @devcontainers/cli
        run: npm install --location=global @devcontainers/cli@0.41.0

      - name: Start Dev Container
        env:
          DOCKER_BUILDKIT: 1
        run: |
          git config --global init.defaultBranch main
          PYTHON_VERSION={% raw %}${{{% endraw %} matrix.python-version }} devcontainer up --workspace-folder .

      - name: Lint package
        run: devcontainer exec --workspace-folder . poe lint

      - name: Test package
        run: devcontainer exec --workspace-folder . poe test

      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          files: reports/coverage.xml
