name: Test

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: {% if project_type == 'package' %}["3.10", "3.12"]{% else %}["{{ python_version }}"]{% endif %}
        {%- if project_type == 'package' %}
        resolution-strategy: ["highest", "lowest-direct"]
        {%- endif %}

    name: Python {% raw %}${{{% endraw %} matrix.python-version }}{% if project_type == 'package' %} (resolution={% raw %}${{{% endraw %} matrix.resolution-strategy }}){% endif %}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Install @devcontainers/cli
        run: npm install --location=global @devcontainers/cli@0.73.0

      - name: Start Dev Container
        run: |
          git config --global init.defaultBranch main
          PYTHON_VERSION={% raw %}${{{% endraw %} matrix.python-version }}{% if project_type == 'package' %} RESOLUTION_STRATEGY={% raw %}${{{% endraw %} matrix.resolution-strategy }}{% endif %} devcontainer up --workspace-folder .

      - name: Lint {{ project_type }}
        run: devcontainer exec --workspace-folder . poe lint

      - name: Test {{ project_type }}
        run: devcontainer exec --workspace-folder . poe test
