name: Publish

on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ghcr.io/astral-sh/uv:{{ python_version }}-bookworm

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish package
        run: |
          uv build
          uv publish
        env:
          UV_PUBLISH_TOKEN: {% raw %}${{ secrets.UV_PUBLISH_TOKEN }}{% endraw %}
